html {
  font-family: monospace;
  text-align: center;
  font-size: 2em;
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  max-width: 100%;
  cursor: pointer;
}

figcaption {
  font-size: .5em;
  font-style: italic;
}

.container-cat {
  max-width: 50%;
  min-width: 300px;
}

.counter {
  margin-top: 0;
}

.cat-name {
  font-weight: bold;
  margin-bottom: 0;
}
